*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: url(gambar/bg3.jpg)
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: monospace;
    color: #bc2877;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #bc2877;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #123054;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px 15px 20px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #bc2877;
}

div .foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 300px;
    height: 300px;
    border: 2px solid #302b2a36;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 40px;
    margin-left: 45px;
    transition: 400ms;
}
